body{
    background-image: url("img/Astro3.jpg");
}

#caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#formulario{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

.inputformulario{
    margin-bottom: 20px;
    padding-left: 6px;
    font-size: medium;
    border-radius: 5px;
    background-color: rgba(224, 231, 255, 0.737);
}

.labelformulario{
    font-size: medium;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);

}

#resultado{
    display: flex;
    /*background-color: black;*/
    width: 721px;
    justify-content: center;
    position: relative;
}
#titulo{
    font-size: x-large;
    color: rgb(255, 251, 241);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 20px;
    
}

img{
    z-index: -1;
    filter: drop-shadow(
        0 0 5px rgb(0, 0, 0)
    );
    margin-bottom: 50px;
}



#bordeExterior{
    border-radius: 10px;
    background-color: rgba(34, 22, 6, 0.349);
    box-shadow: 0 0 50px black;
}

#venderMoto{

    text-align: justify;
    position: absolute;
    z-index: 10;
    font-size: medium;
    padding: 100px;
    color: white;
    top: 0px;
    text-shadow: 0 0 5px black;


}

#adelante{
    
    margin-bottom: 20px;
    padding: 10px;
    font-size: medium;
    font-weight: bolder;

    border-radius: 5px;
    background-color: rgba(144, 140, 222, 0.758);

}

